.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 170px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App a {
  color: #f60;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

thead {
  font-weight: bold;
}

.logo img {
  max-height: 6em;
}

.footer {
  margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 50px;
    padding-bottom: 50px;

}

.link {
  border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 25px;
    width: 100px;
    height: 100px;
    background: white;
}
