# See https://help.github.com/ignore-files/ for more about ignoring files.

# Node build artifacts
node_modules
npm-debug.log

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

selenium-server-standalone-3.0.1.jar
react-ui/errorShots
